.simple-calculator{
    /* margin: 500px; */
    padding: 100px;
    width:fit-content;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    background:blanchedalmond;
    border-color: black;
   
}
.display{
    /* background-color: black; */
    border: 20px;
    width:328px;
    height: 40px;
    border-radius: 8px;
    border-color: black;
}


.B-operator{
    width: 80px;
    height: 40px;
    padding: 10px;
    border-color: #000;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: large;
    background-color:darksalmon;
    
}

.B-number{
    width: 80px;
    height: 40px;
    border-color: #000;
    border-radius: 8px;
    font-size: large;
    background-color:darksalmon;
}